/app/src/test/java/com/signal/dis/powersignal/ExampleUnitTest.java
/app/src/androidTest/java/com/signal/dis/powersignal/ApplicationTest.java
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
